*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
.container{
    height: 1000px;
    background: url("assets/hero-cover.3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#overlay{
    overflow: auto;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
nav{
    padding: 30px;
}
nav>ul>li{
    padding-right: 10px;
    display: inline;
    justify-content: space-between;
    list-style-type: none;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.right{
    float: right;
}
nav>ul>li:first-child{
    font-size: x-large;
    padding-right: 70px;
}
nav>ul>li:last-child{
    margin-top: 10px;
}

#member{
    background-color: #23A6F0;
    padding: 18px;
    border-radius: 10px;
}
.ensure{
    height: 800px;
    padding: 10%;
    margin: 20px;
    color: white;
}
.best{
    height: 50%;
    width: 60%;
    font-size: 80px;
    font-weight: 900;
    position: relative;
    left: 30%; 
}
.large{

    font-size: x-large;
    font-weight: 400;
    width: 45%;
    padding: 20px;
    position: relative;
    left: 30%; 
    margin: 30px;
    text-align: center;
}
.get{
    width: 50%;
    height: 40%;
    padding: 60px;
    margin-top: -20px;
    text-align: center;
    position: relative;
    left: 30%;
    
}
.get button{
    color: white;
    font-weight: 600;
    padding: 20px;
    margin-right: 70px;
    width: 30%;
    border-radius: 30px;
    background-color: #23A6F0;
}
.get button:last-child{
    background-color: transparent;
    border: white solid 1px;
}
.get button:last-child:hover{
    background-color: #23A6F0;

}
.bunner{
    background-color: #f5f6fc;
    height: 200px;
}
.quote{
    height: 400px;
}
.services{
    background-color: #f5f6fc;
    height: 2000px; 
}
